# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.log
